html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
}

div#page{
    width: 100%;
    height: 100%;
    position: relative;
}

div#project_features{
    height: 200px;
    margin: 0;
    background-color: #58a9ed;
}

div#map{
    left: 0;
    right: 0;
    background-color: #b0e298;
    top: 200px;
    bottom: 0;
    position: absolute;
}


iframe{
    width: 100%;
    height: 100%;
}
