{% extends 'base.html' %}
{% block content %}

    <h2>{{ proj.name }}</h2>
    <div id="project_features">
        <div id="project_info">

        </div>
        <div id="buy_in">

        </div>
        <div id="invite_others">

        </div>
        <div id="edits">
            {% if child_changesets %}
            <ul>
                {% for child_changeset in child_changesets %}
                    <li>
                        <a href="javascript:void(0);" onclick="update_map({{ child_changeset.id }})">{{ child_changeset.id }}</a>
                    </li>
                {% endfor %}

            </ul>
            {% endif %}
        </div>
        <input id="test" type="button" name="test" value="Test"/>

        <script>
            $('input#test').click(function(evt){
                $("iframe#iframe_map").attr("src", "/static/index.html#background=Bing&changeset=1&map=20.00/{{ proj.starting_point.coords.0 }}/{{ proj.starting_point.coords.1 }}/");
            });
            function update_map(changeset){
                $("iframe#iframe_map").attr("src", "/static/index.html#background=Bing&changeset=" + changeset + "&map=20.00/{{ proj.starting_point.coords.0 }}/{{ proj.starting_point.coords.1 }}/");
                $("iframe#iframe_map")[0].contentDocument.location.reload(true);
            }
        </script>
    </div>

    <div id="map">
        {% ifequal state "new" %}
            <iframe id="iframe_map" src="/static/index.html#background=Bing&project={{ proj.id }}&map=20.00/{{ proj.starting_point.coords.0 }}/{{ proj.starting_point.coords.1 }}"></iframe>
        {% endifequal %}
        {% ifequal state "created" %}
            <iframe id="iframe_map" src="/static/index.html#background=Bing&changeset={{ changeset.id }}&map=20.00/{{ proj.starting_point.coords.0 }}/{{ proj.starting_point.coords.1 }}"></iframe>
        {% endifequal %}
    </div>
{% endblock %}